Flask==2.3.2
Werkzeug==2.3.7
Flask-Classful==0.14.2
Flask-SQLAlchemy==3.0.5
marshmallow==3.20.1
marshmallow-sqlalchemy==0.29.0
SQLAlchemy==2.0.19
Flask-JWT-Extended==4.5.2
bleach==6.0.0
tzlocal==5.0.1
pytz==2023.3
flask-cors==4.0.0
sentry_sdk[flask]==1.29.2
py-healthcheck==1.10.1

psycopg2-binary==2.9.7
gunicorn==21.2.0